*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(46, 5, 46);
    display: grid;
    gap: 0.4rem;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(4,200px);
    border: 2px solid white;
    /* justify-items: end; */
    /* align-items: end; */
    place-items: center;

}
.item{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 5px solid white;
    /* justify-self: start; 
    align-self: start; */
    /* combines justify and align self together and overrides the container
    properties */
    /* place-self: center;  */


}